.sponsors {
  margin-bottom: clamp(50px, 5vw, 95px);
  background: #fcfdff;
  padding: 50px 0 70px;
  &_title {
    margin-bottom: 30px;
  }

  &_description {
    width: 30%;
    font-size: 20px;
    color: #444444;
  }
  &_about {
    display: flex;
  }
  &_grid {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  #sponsors_slide {
    display: none;
  }
}
@media (max-width: 1208px) {
  .sponsors {
    background: none;
    padding: 0;
    &_about {
      display: none;
    }
    #sponsors_slide {
      display: block;
    }
  }
}
